@use "styles/partials/colorVariable" as colorVar;
@use "styles/partials/mixin" as mix;

/* DESKTOP FIRST MEDIA QUERIES */

/* Extra Large devices (desktops, less than 1400px)*/
@media (max-width: 1399.98px) {

}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

  .section-padding {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .section-title {

    h2 {
      font-size: 28px;
    }

  }

  .header {

  }

}

/* Custom Media Query (desktops, less than 1024px)*/
@media (max-width: 1023.98px) {
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

  .search-popup.show {

    .search-popup-inner-wrapper {

      .search-form-warp {
        margin: 0 0.80rem;
        padding: 40px 25px;
        @include mix.flex-column;
        @include mix.align-items-center;

        .form-group {
          width: 100%;
          margin-bottom: 0.5rem;
        }

        button {

          &.close-btn {
          }

        }
      }

    }

  }

  .navigation-wrap {

    .top-bar-area {
      padding: 5px 0;

      .top-bar-inner {
        @include mix.flex-column;
        padding: 5px 0;
        width: 100%;

        //&.fixed {
        //  position: fixed;
        //  width: 100%;
        //  left: 0;
        //  top: 0;
        //}

        .left-content, .right-content {
          @include mix.justify-content-center;
          @include mix.align-items-center;
          @include mix.d-flex;
          width: 100%;

          ul {
            @include mix.justify-content-around;
            @include mix.d-flex;
            width: 100%;

            li {
              @include mix.d-flex;
              @include mix.align-items-center;
              margin-left: 0;
            }

          }

        }

        .left-content {
        }

        .right-content {
          margin-top: 0.25rem;

        }

      }

    }

    .header {

      .navbar-area {

        .nav-container {
          padding: 5px 0;
          z-index: 9999;
          @include mix.d-flex;
          @include mix.flex-nowrap;

          .responsive-mobile-menu {
            padding: 0;

            .navbar-toggler {
              background-color: colorVar.$primary2;
              border-color: colorVar.$primary1;
              right: 0.5rem;
            }

          }

          .navbar-collapse {
            top: 105%;
            padding-left: 0;
            border-radius: 0.25rem;
            //box-shadow: 0 0 0.3rem 0.05rem rgba(0, 0, 0, 0.5);

            ul {

              &.navbar-nav {
                margin-top: 0;

                li {
                  padding: 10px;
                  line-height: 1.75 !important;

                  &.menu-item-has-children {

                    &.active {

                      & > .sub-menu {
                        border-top: 1px solid #e2e2e2;
                        border-bottom: none;
                        visibility: visible;
                        margin-top: 10px;
                        height: auto;
                        opacity: 1;
                      }

                    }

                  }

                  a {
                    display: block;
                    width: 100%;
                  }

                  ul {

                    li {
                      line-height: 1.5 !important;
                    }

                  }

                }

                & > li {
                  line-height: 1.75;

                  &.menu-item-has-children {

                    &:hover, &:focus, &:active {

                      .sub-menu {
                        visibility: hidden;
                        margin-top: 0;
                        opacity: 0;
                        height: 0;
                      }

                    }

                    .sub-menu {

                      li {
                        padding: 0;

                        a {
                          padding: 0.75rem 1.25rem;

                          &:hover, &:focus, &:active {
                          }

                        }

                        &:first-child {
                          border-top: none;
                        }

                      }

                    }

                    &.active {
                      height: auto;

                      & > .sub-menu {
                        border-top: 1px solid #e2e2e2;
                        border-bottom: none;
                        visibility: visible;
                        margin-top: 10px;
                        height: auto;
                        opacity: 1;

                        &.menu-item-has-children {

                          .sub-menu {
                            border-top: 1px solid #e2e2e2;
                            border-bottom: none;
                            visibility: visible;
                            margin-top: 10px;
                            height: auto;
                            opacity: 1;
                          }

                        }

                      }

                    }

                    &::before {
                      z-index: 1;
                    }

                  }

                  &.menu-item-has-mega-menu {

                    &:hover, &:focus, &:active {

                      .xg_mega_menu_wrapper {
                        visibility: hidden;
                        opacity: 0;
                        height: 0;
                      }

                    }


                    &.active {

                      .xg_mega_menu_wrapper {
                        visibility: visible;
                        position: relative;
                        height: auto;
                        opacity: 1;
                        width: 100%;
                        top: 10px;

                        .xg-mega-menu-single-column-wrap {

                          .mega-menu-title {
                            padding: 0 10px;
                          }

                          ul {
                          }

                        }

                      }

                    }

                  }

                }

              }

            }
          }

          .nav-right-content {
            display: flex !important;
          }

        }

      }

    }

  }

  .blog-classic-item-01 {

    .content {

      .title {
        font-size: 30px;
        line-height: 40px;
      }

    }

  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .back-to-top {
    right: 30px;
  }

}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

  .navigation-wrap {

    .top-bar-area {

      .top-bar-inner {

      }

    }

    .header {

      .navbar-area {

        .nav-container {

          .navbar-collapse {

            ul {

              &.login-bar {

                li {
                  margin: auto;
                  padding: 10px;
                  font-size: 15px;
                  font-weight: 700;
                  line-height: 1.75;
                  text-align: center;
                }

              }

            }

          }

        }

      }

    }

  }

  //.common-area .common-grid-carousel .owl-controls .owl-nav .owl-prev {
  //  left: -1.0rem;
  //}
  //
  //.common-area .common-grid-carousel .owl-controls .owl-nav .owl-next {
  //  right: -1.0rem;
  //}

  .team-member-area {

    .team-section {

      .team-img-cont {
        max-height: unset;
      }

    }

  }

  .common-area {

    .common-container {
      padding-right: 15px;
      padding-left: 15px;
    }

    .common-grid-carousel {

      .common-grid-carousel-item {

        .content {

          .title {
            text-align: center;
            height: auto;
            max-height: unset;
          }

        }

        .content-area {

          .title-wrap {

            .title {
              @include mix.justify-content-center;
              height: auto;
              width: 100%;
            }

          }

        }

        &.single-events-list-item {

          .thumb {
            min-height: 150px;
            max-height: 150px;
            margin-bottom: 1rem;
          }

        }

      }

      &.owl-carousel {

        &.owl-loading {
          opacity: 1;
        }

        .owl-stage {
          @include mix.flex-wrap;
        }

      }

      &.events-grid-carousel {

        .owl-stage {

          .owl-item {
          }

        }

      }

      &.advertise-grid-carousel {

        .common-item {

          .common-img {

            &.advertise-img {
              min-height: unset;
            }

          }

        }

      }

      .owl-controls {

        .owl-nav {

          .owl-prev {
            left: -1.0rem;
          }

          .owl-next {
            right: -1.0rem;
          }

        }

      }

    }

  }

  .section-title {

    h2 {
      font-size: 26px;
    }

    a {

      &.btn {
        margin-top: 1rem;
      }

    }

  }

  .blog-classic-item-01 {

    .content {

      .title {
        font-size: 30px;
        line-height: 40px;
      }

      .post-meta {

        li {
          margin-top: 0.5rem;
          width: 48.5%;
        }

      }

    }

  }

  footer {

    .widget {

      &.footer-widget {
        text-align: center;
        margin: 0 auto 30px;

        .widget-ul-wrapper {

          ul {
            margin: auto;
            text-align: center;
          }

        }

      }

    }

  }

}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

  .top-bar-inner ul.social-icons li:last-child {
    display: inline-block;
  }

  .fb_iframe_widget {

    span {
      max-width: 300px !important;
      width: 300px !important;
    }

  }

}

/* Customized Media Queries (phones, less than 400px) */

/* Extra small devices (portrait phones, less than 400px)*/

@media (max-width: 400px) {

}

@media (max-width: 320px) {
}

/* Customized Media Queries (phones, less than 400px) */

/* /DESKTOP FIRST MEDIA QUERIES */

/**/

/* MOBILE FIRST MEDIA QUERIES */

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  .navigation-wrap {
    position: relative;
    z-index: 9999;

    .top-bar-area {

      .top-bar-inner {
      }

    }

    .header {

      .navbar-area {

        .nav-container {

          .responsive-mobile-menu {
            @include mix.d-flex;
            @include mix.justify-content-between;
          }

          .navbar-collapse {
            @include mix.justify-content-center;

            ul {

              &.navbar-nav {

                li {

                  a {
                  }

                  &.menu-item-has-children {

                    & > .sub-menu {
                      top: 120%;

                      .sub-menu {
                        top: 0;
                        left: 101%;
                      }

                    }

                    .sub-menu {
                      border-radius: 0.5rem;
                      border-bottom: none;

                      li {

                        &:first-child {
                          border-top-left-radius: 0.5rem;
                          border-top-right-radius: 0.5rem;

                          a {
                            border-top-left-radius: 0.5rem;
                            border-top-right-radius: 0.5rem;
                          }

                        }

                        &:last-child {
                          border-bottom-left-radius: 0.5rem;
                          border-bottom-right-radius: 0.5rem;

                          a {
                            border-bottom-left-radius: 0.5rem;
                            border-bottom-right-radius: 0.5rem;
                          }

                        }

                      }

                    }

                  }

                  &.menu-item-has-mega-menu {

                    .xg_mega_menu_wrapper {
                      top: 150px;

                      .xg-mega-menu-container {
                        padding: 25px;
                      }

                    }

                  }

                }

                & > li {
                  line-height: 3.25;
                }

              }

            }

          }

        }

        &.nav-fixed {

          .nav-container {

            .navbar-collapse {

              ul {

                &.navbar-nav {

                  li {

                    &.menu-item-has-mega-menu {

                      .xg_mega_menu_wrapper {
                        top: 105px;
                      }

                    }

                  }

                }

              }

            }

          }

        }

      }

    }

  }

  .common-area {

    .common-grid-carousel {

      //.owl-controls {
      //
      //  .owl-nav {
      //
      //    .owl-prev {
      //      left: -2rem;
      //    }
      //
      //    .owl-next {
      //      right: -2rem;
      //    }
      //
      //  }
      //
      //}

    }

  }

  .footer-widget-wrap {

    .col-lg-3 {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
    }

  }

  .back-to-top {
    right: 50px;
  }

}

/* Customized Media Queries (Min Width) */

@media (min-width: 1024px) {
}

/* Customized Media Queries (Min Width) */

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/* Extra extra large devices (1400px and up)*/
@media (min-width: 1400px) {

  .section-title {

    h2 {
      font-size: 30px;
    }

  }

}

/* Extra extra extra large devices (4K and up)*/
@media (min-width: 2160px) {
}

/* /MOBILE FIRST MEDIA QUERIES */


/**/


/* MIXED SCREEN MEDIA QUERIES */

@media (min-width: 320px) and (max-width: 480px) {
}

@media (min-width: 320px) and (max-width: 575.98px) {
}

@media (min-width: 320px) and (max-width: 767.98px) {
}

@media (min-width: 320px) and (max-width: 767.98px) {
}

@media (min-width: 320px) and (max-width: 991.98px) {
}

@media (min-width: 320px) and (max-width: 1023.98px) {
}

@media (min-width: 320px) and (max-width: 1199.98px) {
}

@media (min-width: 320px) and (max-width: 1399.98px) {
}

@media (min-width: 480px) and (max-width: 575.98px) {
}

@media (min-width: 480px) and (max-width: 767.98px) {
}

@media (min-width: 480px) and (max-width: 991.98px) {
}

@media (min-width: 480px) and (max-width: 1023.98px) {
}

@media (min-width: 480px) and (max-width: 1199.98px) {
}

@media (min-width: 480px) and (max-width: 1399.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 576px) and (max-width: 991.98px) {
}

@media (min-width: 576px) and (max-width: 1023.98px) {
}

@media (min-width: 576px) and (max-width: 1199.98px) {
}

@media (min-width: 576px) and (max-width: 1399.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 768px) and (max-width: 1023.98px) {
}

@media (min-width: 768px) and (max-width: 1199.98px) {
}

@media (min-width: 768px) and (max-width: 1399.98px) {
}

@media (min-width: 992px) and (max-width: 1024.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 992px) and (max-width: 1399.98px) {
}

@media (min-width: 1024px) and (max-width: 1199.98px) {
}

@media (min-width: 1024px) and (max-width: 1399.98px) {
}

/* /MIXED SCREEN MEDIA QUERIES */

/**/

/* COMBINED MEDIA QUERIES */

@media (min-width: 576px), (min-width: 768px), (min-width: 992px), (min-width: 1024px), (min-width: 1200px) {
}

/* /COMBINED MEDIA QUERIES */
