@use "partials/colorVariable" as colorVar;
@use "partials/mixin" as mix;

/*      FOOTER      */

footer {

  .footer-top {
    background-image: linear-gradient(0deg, colorVar.$primary2, colorVar.$primary2, colorVar.$primary2-lighter);

    //.counterup-area {
    //  background-color: transparent;
    //  position: relative;
    //  top: -30px;
    //
    //  .counter-container {
    //    border-radius: 0.5rem;
    //    box-shadow: 0 0 0.3rem 0.05rem rgba(0, 0, 0, 0.5);
    //
    //    .singler-counterup-item {
    //
    //      .icon {
    //        margin-right: 15px;
    //        @include mix.d-flex;
    //        @include mix.align-items-center;
    //      }
    //
    //      .content {
    //
    //        .count-wrap {
    //          font-size: 45px;
    //          line-height: 50px;
    //          @include mix.d-flex;
    //          @include mix.align-items-center;
    //        }
    //
    //      }
    //
    //    }
    //
    //  }
    //
    //}

    .footer-widget {
      margin-bottom: 1rem;

      .widget-title {

      }

      ul {

        li {
          margin: 5px 0;

          a, .icon {

            &, i {
              color: #fff;
            }

            &:hover, &:focus, &:active {

              &, i {
                color: colorVar.$tertiary;
              }

            }

          }

        }

        &.contact_info_list li {

          &.single-info-item {

          }

        }

      }

      .details, p {
        color: #fff;
      }

    }

  }

  .copyright-area {
    background-color: colorVar.$primary2-light;

    ul {

      &.social-icons {

        li {
          width: 25px;
          height: 25px;
          margin: 0 0.25rem;

          a {
            color: rgba(255, 255, 255, 1);

            &:hover, &:focus, &:active, &.active {
              color: rgba(255, 255, 255, 0.75);
            }

          }

        }

      }

    }

  }

}

.back-to-top {
  background-color: colorVar.$primary2;
}

/*      /FOOTER      */
