/*      MIXINS      */
@use "partials/colorVariable" as colorVar;
@use "partials/mixin" as mix;
/*      /MIXINS      */

/*      HEADER      */

.search-popup {

  &.show {

    .search-popup-inner-wrapper {
      position: fixed;
      z-index: 999999;

      .search-form-warp {
        border-radius: 0.5rem;
        padding: 60px 40px;

        .form-group {
          width: calc(100% / 2.5);

          .form-control {
            border-color: colorVar.$primary2;
            border-radius: 0.2rem;

            &:hover, &:focus, &:active {
              border-color: colorVar.$primary1;
            }

          }

        }

        .search-popup-close-btn {
          border-radius: 0.5rem;
          right: -10px;
          top: -10px;
        }

      }

    }

  }

}

.navigation-wrap {
  //background-image: linear-gradient(0deg, colorVar.$primary2, colorVar.$primary1);

  .top-bar-area {
    box-shadow: 0 0 0.175rem 0.015rem rgba(0, 0, 0, 0.5);
    background-color: transparent !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .top-bar-inner {

      ul {

        li {

          a {
            color: colorVar.$primary2;

            &:hover, &:focus, &:active {
              color: colorVar.$primary1;
            }

            }

        }

      }

    }

  }

  .header {

    .navbar-area {

      .nav-container {
        //box-shadow: 0 0 0.3rem 0.05rem rgba(0, 0, 0, 0.5);
        //background-color: #fff;
        border-radius: 0.25rem;
        padding: 0.5rem 1rem;

        .navbar-collapse {

          ul {

            &.navbar-nav {

              li {

                a {
                  color: colorVar.$primary2;

                  &:hover, &:focus, &:active, &.active {
                    color: colorVar.$primary1;
                  }

                }

                &.menu-item-has-children {

                  &:before {
                    color: colorVar.$primary2;

                    &:hover, &:focus, &:active {
                      color: colorVar.$primary1;
                    }

                  }

                  &:hover, &:focus, &:active {

                    &:before {
                      color: colorVar.$primary1;
                    }

                  }

                }

                &.menu-item-has-mega-menu {

                  &:before {
                    color: colorVar.$primary2;

                    &:hover, &:focus, &:active {
                      color: colorVar.$primary1;
                    }

                  }

                  &:hover, &:focus, &:active {

                    &:before {
                      color: colorVar.$primary1;
                    }

                  }

                  .xg_mega_menu_wrapper {
                    box-shadow: 0 0 0.3rem 0.05rem rgba(0, 0, 0, 0.5);

                    .xg-mega-menu-single-column-wrap {

                    }

                  }

                }

              }


            }

          }

        }

        .nav-right-content {

          ul {
            @include mix.d-flex;

            li {
              @include mix.d-flex;
              @include mix.align-items-center;

              a {
                color: colorVar.$primary2;

                &:hover, &:focus, &:active, &.active {
                  color: colorVar.$primary1;
                }

              }

              &.cart {

                a {

                  .pcount {
                    color: #fff;
                    top: -5px;
                    right: -13px;
                  }

                }

              }

              .btn-wrapper {
                margin-left: 0;

                a {
                  color: #fff;
                  min-width: 100px;
                  padding: 0.75rem 1.5rem;

                  &:hover, &:focus, &:active, &.active {
                    //color: colorVar.$primary1;
                  }

                }

              }

            }

          }

        }

      }

      &.nav-fixed {
        //background-image: linear-gradient(0deg, colorVar.$primary2, colorVar.$primary1);
        background-color: #fff;
      }

    }

  }

}

.header-area.header-bg {

  &::after {
    background-image: unset;
    background-color: rgba(0, 0, 0, 0.3);
  }

}

/*      /HEADER      */

.page-header-wrapper {
}
